$scrollbar-width: 25px;
$thumb-width: 15px;
$space: 10px;

$track-color: rgb(53, 103, 117);
$thumb-color: rgb(176, 190, 186);

$c-width: $scrollbar-width + $space * 2;
$track-radius: $c-width;
$thumb-radius: $thumb-width;
$thumb-margin: ($c-width - $thumb-width) / 2;

/* Works on Chrome, Edge, and Safari */
.with-custom-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: $c-width;

        &-track {
            background-color: $track-color;
            background-clip: padding-box;
            border: $space solid transparent;
            background-clip: padding-box;
            border-top-width: 0;
            border-bottom-width: 0;
        }

        &-thumb {
            background-color: $thumb-color;
            box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
            border-radius: $c-width;
            border: $thumb-margin solid transparent;
            background-clip: padding-box;

            &:hover {
                // background-color: #5749d2;
            }
        }

        &-corner {
            display: none;
        }

        &-button {
            display: block; // display all buttons (2 for up + 2 for down)
            background-color: $track-color;
            border: $space solid transparent;
            background-clip: padding-box;

            height: 30px;

            // up button in the vertical scrollbar, contains 2 buttons
            &:vertical:start {
                border-top-left-radius: $c-width;
                border-top-right-radius: $c-width;

                border-bottom-width: 0;

                &:decrement {
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: 65%;
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='13' viewBox='0 0 22 13' fill='none'><path d='M20 11L11 2L2 11' stroke='rgb(176, 190, 186)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/></svg>");
                }

                &:increment {
                    display: none;
                }
            }

            // down button in the vertical scrollbar, contains 2buttons
            &:vertical:end {
                border-bottom-left-radius: $c-width;
                border-bottom-right-radius: $c-width;

                border-top-width: 0;

                &:decrement {
                    display: none;
                }

                &:increment {
                    background-position: center top;
                    background-repeat: no-repeat;
                    background-size: 65%;
                    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='13' viewBox='0 0 22 13' fill='none'><path d='M2 2L11 11L20 2' stroke='rgb(176, 190, 186)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/></svg>");
                }
            }
        }
    }
}

.ant-drawer-body {
    @extend .with-custom-scrollbar;
}
