@import './styles/_variables.scss';
@import './styles/_mixins.scss';
@import './styles/_functions.scss';
@import './styles/custom-scrollbar.scss';
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.lang-button {
    margin-left: auto;
    font-weight: weight(bold);

    @include test($primary-color, '.ant-space-item') {
        font-size: 12px;
    }

    transition: {
        property: font-size;
        duration: 4s;
        delay: 2s;
    }

    &:hover {
        .ant-space-item {
            font-size: 16px;
        }
    }
}
